:root{
    --esmerald: #45CB85;
    --jet: #161626;
    --gunMetal: #242F40;
    --satin-sheen-gold: #CCA43B;
    --platinum: #E5E5E5;
}
.fullGame_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
*{
    box-sizing: border-box;
}
body{
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-color:var(--jet);
}
.playerContainer{
    display: grid;
    grid-template-columns: repeat(2,25%);
    grid-template-rows: repeat(2);
    grid-column-gap: 600px;
    grid-row-gap: 10px ;
    position: absolute;
    z-index: -10;
    right: 23%;
    
}
.playerStatisticContainer{
    border-radius: 10px;
    padding: 10px;
    text-align: start;
    background-color: white;
}

.table{
    justify-self: center;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #283;
    max-width: 500px;
    height: 350px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    box-shadow: inset 0 0px 50px black ;
    overflow-y: auto;
    box-sizing:border-box;
}


.gameCard{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    border-radius: 5%;
    text-shadow: 0 0 5px black;
    height: 40%;
    margin: 5% 3%;
    flex-basis: 16%;
    background-color: white;
    cursor: pointer;
    user-select: none;
   
}
.formedCards{
    
    font-size: smaller;
    visibility: visible !important;
    z-index: 200;
    left: 105%;
    bottom: 30%;
    display: flex;
    border-radius: 5%;
    justify-content: center;
    background-color: #ccc;
    width: 100px;
    height: 100px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    overflow-y:auto;
    
    
}
.formedCards div{
    flex-basis: 20%;
    height: 50%;
}
.playerCardContainer{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
}
.players_option_container{
    display: flex;
    margin-top: 15%;
    width: 50vw;
    box-shadow: 0 0 20px 5px black;

}
.next-to-container{
    animation: next-to-container 1s ease;

}
label{
font-size: x-large;
}
.form{
    color: var(--satin-sheen-gold);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 25vw;
    justify-content: center;
    background-color: var(--gunMetal);
    gap: 10%;
    animation: visibilityForm 0.5s ease forwards;
}
.form input{
    outline: none;
    height: 10%;
    width: 50%;
}
.form button{
    background-color: var(--esmerald);
    text-align: center;
    padding: 3%;
    width: 30%;
    border: none;
    cursor: pointer;
}

.form div{
    display: flex;
    justify-content: center;
    gap: 1%;
    width: 100%;
}


.player_numbers_option_item:hover{
    transform: scale(1.2);
    opacity: 0.7;
    color:yellow
}
.player_numbers_option_item{
    width: 50%;
    transition: all 0.5s;
    background-color: var(--gunMetal);
    padding: 5%;
    text-align: center;
    cursor: pointer;
    color: var(--satin-sheen-gold)


}
.next{
    animation: next-animation 0.5s ease;
}

@keyframes next-animation {
    0%{
        opacity: 0.7;
        transform: scale(1.2);
    }
    100%{
        opacity: 0.1;
        transform: scale(8);
    }
}
@keyframes visibilityForm {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes next-to-container {
    100%{
        opacity: 0;
    }
}