*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    
    background-color:darkslategray;
}
.playerContainer{
    display: grid;
    grid-template-columns: repeat(2,180px);
    grid-template-rows: repeat(2);
    grid-column-gap: 700px;
    grid-row-gap: 10px ;
    position: absolute;
    z-index: -10;
    
}
.playerStatisticContainer{
    border-radius: 10px;
    padding: 10px;
    text-align: start;
    background-color: white;
}

.table{
    justify-self: center;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #283;
    width: 500px;
    height: 350px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    box-shadow: inset 0 0px 50px black ;
    overflow-y:scroll
}


.gameCard{
    border-radius: 5%;
    text-align: center;
    text-shadow: 0 0 5px black;
    padding-top: 50px;
    height: 125px;
    margin: 5% 3%;
    flex-basis: 80px;
    background-color: white;
    cursor: pointer;
    user-select: none;
}
.playerCardContainer{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 125px;
}