:root{
    --esmerald: #45CB85;
    --jet: #312e2b;
    --gunMetal: #262421;
    --satin-sheen-gold: #CCA43B;
    --platinum: #666;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gameTutorial{
    position: absolute;
    display: flex;
    width: 1300px;
    height: 620px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    
}
.showGameTutorial{
    visibility: visible;
    animation-name: showGameTutorial;
    animation-duration: 1s;
    animation-fill-mode: forwards

}
@keyframes showGameTutorial {
    0%{
        opacity: 0;
        left: -200px;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}
.tutorialContent{
      display: flex;  
      position: relative;
      background-color: var(--gunMetal);
      width: 900px;
      height: 620px;
      padding: 10px;
     

}
.tutorialSidebar{
    height: 70%;
    width: 200px;
}
.tutorialBackground{
    position: absolute;
    background-color: var(--jet);
    min-width: 1400px;
    height: 100vh;
    z-index: -1;
    opacity: 0.7;

}
.carrouselContainer{
    
    width: 700px;
    height: 600px;
    overflow: hidden;
    scroll-behavior: smooth;
    
    
}

.carrouselCardButtons a{
    width: 10px;
    height: 10px;
}
.carrouselCardButtons{
    position: absolute;
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 5;
    
}

.carrouselCardContainer{
    position: relative;
    display: grid;
    height: 580px;
    width: 600px;
    color: white;
    overflow: hidden;
    scroll-behavior: smooth;
}
.carrouselCardContainer:nth-child(1){
    grid-template-columns: repeat(3, 600px);
}
.carrouselCardContainer:nth-child(2){
    grid-template-columns: repeat(5,600px);
}

.carrouselCardContainer3 section{
    display: inline-block;
    width: 800px;
    height: 50%;
}
a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white
    
}
.carrouselCard{
    padding: 20px;
    }
.carrouselCard h1{
    padding-bottom: 10%;
}
.sidebar{
    height: 97%;
    width: 200px;
    background-color: var(--jet);
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 50px;
    justify-content: start;
    padding: 2%;

}

li img{
    position: relative;
    width: 15%;
    top: 10px;
    transition: transform 0.5s;
}
li{
    position: relative;
    list-style: none;
    
    
}
.sidebar li{
    cursor: pointer;
}
li h2{ 
    display: inline-block;
    border-radius: 3%; 
    padding: 3% 5%;
    height: 100%;
    margin: 0;
    color: white;

}
li div{
    border-bottom: solid 1px white;
    width: 0;

}



h1{
    /* display: inline;
    color: White;
    text-shadow: yellowgreen 0px 0px 20px;
    font-size: 2rem;
    margin: 0;
    */
    color: var(--satin-sheen-gold);
}
.fullGame_container{
    min-width: 1050px;
    height: 100vh;
    align-items: start;
    display: grid;
    grid-template-columns: 200px 500px 200px 180px ;
    gap: 15px;
    padding: 1%;
    margin: auto;
}

.tutorialButtonContainer{
    padding: 50px;
    color: black;
}
.lineAnimation{
    animation: toStretch 0.3s linear forwards;
}
label{
    cursor: pointer;
}
body{
    display: flex;
    justify-content: center;
    width: 1380px;
    height: 100vh;
    background-color:var(--jet);
    overflow: hidden;
    align-items: center;
   
   
}
.gameContainer{
    display: flex;
    gap: 165px;

}
.playerContainer img{
    height: 100%;
    min-width: 28%;
    object-fit: cover;
    border: var(--satin-sheen-gold) solid 0.5vh;
}
.playerContainer{
    display: grid;
    
    grid-template-rows: 1fr 5fr 1fr 1fr;
    row-gap: 10px;
    color: var(--satin-sheen-gold);
    height:405px;
    width: 50px;
    
    
}
.tutorialButton{
    border: none;
    cursor: pointer;
   
    &:active{
        opacity: 0.7;
    }
}
.controls{
    background-color: var(--gunMetal);
    border: var( --satin-sheen-gold) solid 3px;
  text-align: start;
    height: 57%;
    
    border-radius: 15px;
    font-size: large;
    gap: 25px;
    & b{
        color: var(--satin-sheen-gold);
    }
    & li{
        color: white;
        margin: 10px 0 0 40px;
    }
    & h1{
        color: var(--satin-sheen-gold);
        text-shadow: none;
        padding: 5px;
    }
}
.playerStatisticContent h4{
   margin: 2px;
}
.pointsDistribution{
    
    
    background-color: var(--gunMetal);
   padding: 10px;
    width:200px;
    height: 210px;
    

}
.button{
    display: inline-block;
    position: relative;
   padding: 20px 29px;
    border-radius: 40px;
    color: black;
    font-weight: bold;
    box-sizing: border-box;
 
    background-color: var(--satin-sheen-gold);
}
.button div{
    position: absolute;
    display: inline-block;
    z-index: 5;
    background-color: var(--esmerald);
    border-radius: 40px;
    content: "Tutorial";
    padding: 20px 29px;
    left: 0px;
    top: -0px;
    /* clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0); */
    clip-path: circle(0 at 50% 50%);
    transition: all 0.7s;

}

.playerLabel{
    font-size: xx-large;
}
                                          
.button:hover > div{
    clip-path: circle(100% at 50% 50%);
}
.playerStatisticContainer{
    display: flex;
    gap: 5%;
    padding: 4%;
    height: 60px;
    width:200px;
    background-color: var(--gunMetal);
    align-items: center;
}

.table{
    justify-self: center;
    display: flex;
    justify-content: center;
    min-width: 500px;
    height: 350px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    overflow-y: auto;
    box-sizing:border-box;
    background-color: #283;
    box-shadow: inset 0 0px 50px black ;

}
.carrouselItem{
    position: relative;
    padding: 25px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    scroll-behavior: smooth;
   
    
}
#carrouselItem1{
}
#carrouselItem2{
}
#carrouselItem3{
}
.numbersOfCards{
    position: absolute;
    padding: 40px 50px;
    z-index: 5;
    font-weight: bolder;
    font-size: 60px;
    color: black;


}
.left, .left2{
    transform: rotate(180deg);
}
.gameCard{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    border-radius: 5%;
    text-shadow: 0 0 5px black;
    height: 129px;
    margin: 5% 3%;
    min-width: 91px;
    cursor: pointer;
    user-select: none;
    overflow: visible;
   
}

.selectAction{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    border-radius: 5%;
    top: 0;

}

.gameCard .gameCard{
    position: relative;
    top: 9%;
    overflow: visible;
}
.formedCards div{
    flex-basis: 20%;
    height: 50%;
}
.playerCardContainer{
    display: flex;
    justify-content: center;
    width: 500px;
    border-top: #161626 2px solid;
}
.players_option_container{
    display: flex;
   
    width: 50vw;
    box-shadow: 0 0 20px 5px black;

}
.next-to-container{
    animation: next-to-container 1s ease;

}

.form{
    color: var(--satin-sheen-gold);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 25vw;
    justify-content: center;
    background-color: var(--gunMetal);
    gap: 10%;
    animation: visibilityForm 0.5s ease forwards;
}
.form input{
    outline: none;
    height: 10%;
    width: 50%;
}
.form button{
    background-color: var(--esmerald);
    text-align: center;
    padding: 3%;
    width: 30%;
    border: none;
    cursor: pointer;
}

.form div{
    display: flex;
    justify-content: center;
    gap: 1%;
    width: 100%;
}


.player_numbers_option_item:hover{
    transform: scale(1.2);
    opacity: 0.7;
    color:yellow
}
.layout{
    margin: auto;
}
.player_numbers_option_item{
    width: 50%;
    transition: all 0.5s;
    background-color: var(--gunMetal);
    padding: 5%;
    text-align: center;
    cursor: pointer;
    color: var(--satin-sheen-gold)


}
.next{
    animation: next-animation 0.5s ease;
}
@keyframes ratateIcon {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}
@keyframes toStretch {
    0%{
        width: 0;

    }
   
    100%{
       
        width: 100%;
    }
}
@keyframes toShrink {
    0%{
        width: 100%;
        
    }
    100%{
        width: 0%;
        
    }
}
@keyframes next-animation {
    0%{
        opacity: 0.7;
        transform: scale(1.2);
    }
    100%{
        opacity: 0.1;
        transform: scale(8);
    }
}
@keyframes visibilityForm {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes next-to-container {
    100%{
        opacity: 0;
    }
}

